<!DOCTYPE html>
<html lang="nl-BE">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogiMax Dashboard</title>
    <link rel="stylesheet" href="/public/public/css/partials.css">
</head>
<body>
    <header>
        <a href="index.html"><img src="/public/public/images/logo.png" alt="LogiMax Logo" id="logo"></a>
        <section id="header-account">
            <span id="profile-picture"></span>
            <span id="profile-name">John Doe</span>
            <button>Log out</button>
        </section>
    </header>
    <aside>
        <nav>
            <ul>
                <li><a href="index.html" class="current-page"><span class="span-icon"></span>Home</a></li>
                <li><a href="#"><span class="span-icon"></span>Voorraad</a></li>
                <li><a href="#"><span class="span-icon"></span>Processes</a></li>
            </ul>
        </nav>
    </aside>
    <main>