<!DOCTYPE html>
<html lang="nl-BE">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogiMax Dashboard</title>
    <link rel="icon" sizes="32x32" href="/images/web-icon.png">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/partials.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <header>
        <a href="/home"><img src="/images/logo.png" alt="LogiMax Logo" id="logo"></a>
        <section id="header-account">
            <span id="profile-picture"></span>
            <span id="profile-name">Peeters Jannes</span>
            <form action="/" method="GET">
                <a href="/"><input type="button" value="Log out"></a>
            </form>
        </section>
    </header>
    <aside>
        <nav>
            <ul>
                <li><a href="/home" class="<%= activePage === 'home' ? 'current-page' : '' %>"><span class="span-icon"></span>Home</a></li>
                <li><a href="/voorraad" class="<%= activePage === 'voorraad' ? 'current-page' : '' %>"><span class="span-icon"></span>Voorraad</a></li>
                <li><a href="/processes" class="<%= activePage === 'processes' ? 'current-page' : '' %>"><span class="span-icon"></span>Processes</a></li>
            </ul>
        </nav>
    </aside>
    <main class="main">