<!DOCTYPE html>
<html lang="nl-BE">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogiMax Dashboard</title>
    <link rel="icon" sizes="32x32" href="/images/web-icon.png">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/partials.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <header>
        <a href="/"><img src="/images/logo.png" alt="LogiMax Logo" id="logo"></a>
    </header>
    <main class="main">