<%- include("partials/header-nav")%>
<script>
    console.log('Stylesheet:', document.querySelector('link[rel="stylesheet"]').href);
</script>
<!-- JS CALENDAR SCRIPT -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<section class="menu">
    <h1>New York/Los Angeles</h1>
    <section class="dropdowns">
        <select name="location" id="location">
            <option value="New York">New York</option>
            <option value="Los Angeles">Los Angeles</option>
        </select>
        <input type="text" name="date" id="date" placeholder="Selecteer Datum" />
            <script>
                $(function() {
                    $("#date").datepicker({
                        dateFormat: "dd-mm-yy" // OMZETTEN DATA IN EU FORMAAT
                    });
                });
            </script>
    </section>
</section>
<article >
    <h2>Overview</h2>
    <section class="firstrow">
        <div class="statcard">
            <i></i>
            <h2>1527</h2>
            <p>Verzendingen</p>
        </div>
        <div class="statcard">
            <i></i>
            <h2>1227</h2>
            <p>Aangekomen</p>
        </div>
        <div class="statcard">
            <i></i>
            <h2>300</h2>
            <p>Onderweg</p>
        </div>
    </section>
</article>
<article>
    <h2>Verzending en Ontvangst</h2>
    <section class="secondrow">
        <img src="/images/verzendingenOntvangst.png" class="placeholder" style="height: 300px; width: 1000px;">
    </section>
</article>
<article>
    <h2>Werknemersprestaties</h2>
    <section class="thirdrow">
        <img src="/images/werknemersprestaties.png" class="placeholder" style="height: 300px; width: 1000px;">
    </section>
</article>
<%- include("partials/doc-end")%>
<!-- CHART SCRIPTS  -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/dashboard-charts.js"></script>