<%- include("partials/header-nav")%>
<script>
    console.log('Stylesheet:', document.querySelector('link[rel="stylesheet"]').href);
</script>
<!-- JS CALENDAR SCRIPT -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<section class="menu">
    <h1>New York/Los Angeles</h1>
    <section class="dropdowns">
        <select name="location" id="location">
            <option value="New York">New York</option>
            <option value="Los Angeles">Los Angeles</option>
        </select>
        <input type="text" name="date" id="date" placeholder="Selecteer Datum" />
            <script>
                $(function() {
                    $("#date").datepicker({
                        dateFormat: "dd-mm-yy" // OMZETTEN DATA IN EU FORMAAT
                    });
                });
            </script>
    </section>
</section>
<article>
    <h2>Ruimtegebruik</h2>
    <section class="firstrow">
        <div class="statcard">
            <canvas id="Ruimtegebruik" width="" height=""></canvas>
        </div>
        <div class="statcard">
            <i></i>
            <h2>1.5</h2>
            <p>Omzet</p>
        </div>
        <div class="statcard">
            <i></i>
            <h2>1527</h2>
            <p>Beschikbare Ruimte</p>
            <p>3237/4800</p>
        </div>
    </section>
</article>
<article>
    <h2>Voorraad Omzet</h2>
    <section class="secondrow">
        <div class="placeholder"> <canvas id="voorraadOmzet" width="" height=""></canvas></div>
    </section>
</article>
<article>
    <h2>Meest Verkocht</h2>
<section class="thirdrow">
    <div class="placeholder">
        <table id="productTable" border="1">
            <thead>
                <tr>
                    <th>Product ID</th>
                    <th>Product Name</th>
                    <th>Amount Sold</th>
                    <th>Total Earnings</th>
                </tr>
            </thead>
            <tbody>
                <!-- Rows will be dynamically added here -->
            </tbody>
        </table>
    </div>

    </div>
</section>
</article>
<%- include("partials/doc-end")%>
<!-- CHART SCRIPTS  -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/dashboard-charts.js"></script>