.main .menu {
    font-size: x-large;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 2rem;
}

.main .dropdowns {
    margin-left: auto;
}

.main article {
    display: flex;
    flex-direction: column;
}

.main article h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.main section {
    justify-content: space-around;
}

.main .firstrow, .secondrow, .thirdrow {
    display: flex;
    flex-flow: row wrap;
    gap: 3rem;
    margin-bottom: 4rem;
}

/* STATCARDS */
.statcard {
    font-size: larger;
    padding: 2rem 1rem 2rem 1rem;
    width: 12rem;
    text-align: center;
    word-wrap: break-word;
    border: 1px black solid;
    border-radius: 5%;
    box-shadow: 1px 3px #acb1b6;
    background-color: #fff;
}

.firstrow .statcard:nth-child(1) i,.firstrow .statcard:nth-child(2) i {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("/images/orders-icon.png"); /* Use the same icon */
    background-size: cover;
    background-position: center; 
}

.firstrow .statcard i {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("/images/voorraad-icon.png");
    background-size: cover;
    background-position: center;
}

.secondrow i{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("/images/turnover-icon.png");
    background-size: cover;
    background-position: center;
}

.thirdrow i{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("/images/low-chart-icon.png");
    background-size: cover;
    background-position: center;
}

.thirdrow H2{
    color: red;
}
/* VOORRAAD OMZET PLACEHOLDER */
.placeholder {
    width: 66%;
    border: 1px solid black;
    text-align: center;
    box-shadow: 1px 3px #acb1b6;
    background-color: #fff;
}
.placeholder canvas {
    width: 100%;  /* Maakt de chart responsief */
    height: auto;
}
/* MEEST VERKOCHT PLACEHOLDER */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem auto;
    text-align: center;
}

thead th {
    background-color: var(--logimax-blue);
    color: #fff;
    padding: 10px;
}

tbody td {
    padding: 10px;
}

tbody tr:nth-child(even) {
    background-color: var(--background-almost-white);
}