.main .menu{
    margin-left: 0;
    align-items: center;
    font-size: x-large;
    display: flex;
    flex-flow: row wrap;
}

.main .dropdowns {
    margin-left: auto;
    margin-right: 15%;
}

.main article {
    display: flex;
    flex-direction: column;
}

.main article h2 {
    text-align: center
}

.main section {
    margin: 1rem;
    justify-content: center;
}

.main .firstrow, .secondrow, .thirdrow {
    display: flex;
    flex-flow: row wrap;
    gap: 3rem;
}

/* STATCARDS */
.statcard {
    font-size: larger;
    padding: 2rem 1rem 2rem 1rem;
    width: 12rem;
    text-align: center;
    word-wrap: break-word;
    border: 1px black solid;
    border-radius: 5%;
    box-shadow: 1px 3px #acb1b6;
}
.firstrow .statcard:nth-child(1) i,.firstrow .statcard:nth-child(2) i {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("/images/orders-icon.png"); /* Use the same icon */
    background-size: cover;
    background-position: center; 
}

.firstrow .statcard i {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("/images/voorraad-icon.png");
    background-size: cover;
    background-position: center;
}

.secondrow i{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("/images/turnover-icon.png");
    background-size: cover;
    background-position: center;
}

.thirdrow i{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("/images/low-chart-icon.png");
    background-size: cover;
    background-position: center;
}

.thirdrow H2{
    color: red;
}
/* PLACEHOLDER */
.placeholder {
    width: 66%;
    border: 1px solid black;
    text-align: center;
    box-shadow: 1px 3px #acb1b6;
}