@import url("reset.css");

/* GENERAL */
:root {
    --logimax-blue: #0469C8;
    --background-almost-white: #F9F9F9;
    --background-almost-grey: #F5F5F5;
    --border-grey: #DDD;
    --text-color: #1E1E1E;
}

* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-areas: 
    "header"
    "main";
    font-family: sans-serif;
    background-color: var(--background-almost-grey);
}

a {
    text-decoration: none;
}

/* HEADER */

#logo {
    width: 250px;
}

header {
    grid-area: header;
    background-color: var(--logimax-blue);
    display: flex;
    padding: 5px 70px 5px 30px;
}

#header-account {
    display: flex;
    justify-content: flex-end;
    margin: auto 0 auto auto;
    color: white;
}

#profile-picture {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-image: url("/images/client.png");
    background-size: cover;
    background-position: center;
}

#profile-name {
    margin: auto 0 auto 10px;
}

#header-account form {
    margin: auto 0 auto 2rem;
}

#header-account input[type="button"] {
    cursor: pointer;
    padding: 5px 20px;
    border-radius: 5px;
    color: var(--text-color);
    background-color: var(--background-almost-grey);
}

/* MAIN - General styles*/
.main {
    grid-area: main;
    background-color: var(--background-almost-grey);
    color: var(--text-color);
    padding: 50px 70px;
}

/* LOGIN PAGE CSS */

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form, .login-info {
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin: 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-form {
    height: 350px;
    width: 350px;
    justify-content: flex-start;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
}

.login-info {
    height: 350px;
    width: 350px;
    background-color: #0469c8;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
}

.info-content {
    margin-bottom: 90px;
    padding: 20px;
}

.icon {
    width: 350px;
    margin-bottom: -10px;
}

.login-form label {
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #1E1E1E;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.errormessage {
    color: red;
    padding-top: 1rem;
}