@import url("reset.css");

/* GENERAL */
:root {
    --logimax-blue: #0469C8;
    --background-almost-white: #F9F9F9;
    --background-almost-grey: #F5F5F5;
    --border-grey: #DDD;
    --text-color: #1E1E1E;
}

* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-areas: 
    "header header header header header header header"
    "aside aside main main main main main";
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

/* HEADER */

#logo {
    width: 250px;
}

header {
    grid-area: header;
    background-color: var(--logimax-blue);
    display: flex;
    padding: 5px 70px 5px 30px;
}

#header-account {
    display: flex;
    justify-content: flex-end;
    margin: auto 0 auto auto;
    color: white;
}

#profile-picture {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-image: url("/images/client.png");
    background-size: cover;
    background-position: center;
}

#profile-name {
    margin: auto 0 auto 10px;
}

#header-account form {
    margin: auto 0 auto 2rem;
}

#header-account input[type="button"] {
    cursor: pointer;
    padding: 5px 20px;
    border-radius: 5px;
    color: var(--text-color);
    background-color: var(--background-almost-grey);
}

/* ASIDE & NAV */

aside {
    grid-area: aside;
    background-color: #fff;
    border-right: var(--border-grey) 2px solid;
}

.current-page, nav a:hover {
    background-color: var(--logimax-blue);
    color: white;
}

.span-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-size: cover;
    background-position: center;
}
li:nth-child(1) .span-icon {
    background-image: url("/images/home-icon.png");
}

li:nth-child(2) .span-icon {
    background-image: url("/images/voorraad-icon.png");
}

li:nth-child(3) .span-icon {
    background-image: url("/images/processes-icon.png");
}

nav {
    padding: 10px 0;
    margin: 30px 10px;
    border-top: var(--border-grey) 2px solid;
    border-bottom: var(--border-grey) 2px solid;
}

nav a {
    display: block;
    margin-bottom: 5px;
    padding: 10px 0 10px 20px;
    border-radius: 10px;
    color: var(--text-color)
}

nav li:last-child a {
    margin-bottom: 0;
}

/* MAIN */

.main {
    grid-area: main;
    background-color: var(--background-almost-grey);
    color: var(--text-color);
    padding: 50px 70px;
}